@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Custom properties */
:root {
    --colorHeader: #95BF8F;

    --primary: 4, 59, 13;
    --colorTextos: rgb(var(--primary));
    --color-40:rgba(var(--primary),0.4);
    
    --colorTitulo: #557c3e;
    
    --colorFondo: #e7e7e7;
    --colorSpinner: #f3f3f3;

    --sombra: 1px 1px 1px #222;
    --blanco: #fff;
    --negro: #000;
    --negrita: bold;
}

/* Reset del CSS */
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Cactus Classical Serif', sans-serif;
}

body {
    text-align: center;
}

/* Color de fons de la pàgina */
html body {
    background-color: var(--colorFondo);
}

/* background del header */
body header#header-container .bg-dark{
    background-color: var(--colorHeader) !important;
}

/* Estil per al nom de la pàgina WORLD'S FOOD */
.navbar-brand h1 {
	color: var(--colorTitulo);
	font-size: 1em;
	text-transform: uppercase;
	font-weight: var(--negrita);
	text-shadow: var(--sombra);
    margin:5px 0 0 10px;
}

/* Enllaços de la barra de navegació (Recipes, Favourites, Game) */
a.nav-link {
    font-weight: var(--negrita);
    color: var(--colorFondo);
    text-shadow: var(--sombra);
    padding: 10px 15px !important;
    text-align: center;
}

/* Hover als enllaços de la barra de navegació (Recipes, Favourites, Game) */
a.nav-link:hover {
    background-color: var(--colorTextos);
    color: var(--colorFondo);
    text-shadow: var(--sombra); /* sombra en el texto */
}

/* Linea sota la opció on estem de la barra de navegació */
a.activo {
    border-bottom: 2px solid var(--colorTextos);
}

/* Definició del contenidor de les dades */
#main-container {
    margin-top: 2px;
    align-items: center;
    size: 80%;
}

/******** Deixar més o menys espai amb el contenidor
depenent del salt del botó de cerca */

@media (min-width: 619px) {
    #main-container, #main-content {
        margin-top: 80px;
    }
}

@media (618px >= width >= 288px) {
    #main-container, #main-content {
        margin-top: 115px;
    }
}
@media (width < 288px) {
  
    #main-container, #main-content {
        margin-top: 150px;
    }
}

/* Ocultar el logo de la pàgina si és més petit de 233px */
@media (width < 233px) {
    #logo {
        display: none !important;
    }
}


/******************* MAIN.HTML **********************/

/* Declaració del height per posicionar les imatges */
.carousel-item {
    height: 20rem;
}

/* Tamany responsiu de les imatges del carrousel */
#carousel-items img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Botons de següent, anterior i  indicadors inferiors */
button.carousel-control-next , button.carousel-control-prev, .carousel-indicators [data-bs-target] {
    opacity: 1;
}

/* Color de fons dels botons següent, anterior */
#carousel .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:var(--colorTextos);
}

/* Textos dins de les imatges del carousel */
.carousel-text {
    background-color: var(--color-40);
    border: 1px solid var(--colorTextos);
    color: var(--colorFondo);
	text-shadow: var(--sombra); /* sombra en el texto */
}

/* <hr> entre el carousel i els text */
.featurette-divider {
    margin: 1rem 0; /* Space out the Bootstrap <hr> more */
    color:var(--colorTextos)
}

/* Animació del text */
div#texto {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}
    
@keyframes slidein {
    from {
        margin-left: 50%;
    }
        
    to {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }    
}

/*************** RECIPES.HTML **************/

/* Definició del tile on aniran les imatges de les receptes i el nom */
.category-tile { 
    position: relative;
    overflow: hidden; /* overflow ocult. Si alguna cosa sobresurt. Que no es vegi */
    width: 200px;
    height: 200px;
    margin: 0 auto 15px; /* a dalt 0, dreta y esquerra centrat auto y a sota 15px */
}

/* Definició de propietats del nom de la recepta */
.category-tile span.title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    opacity: .7;
}

/* Icono de favoritos al marge superior dret del recipes.html */
.category-tile div.fav {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--blanco);
    color: var(--blanco);
}

/* Efecte quan es passa per sobre, titol de la recepta una mica més gran */
.category-tile:hover {
    font-size: 1.2em;
}

/* Text número de items */
h1.numItems {
    font-size: 15px;
    font-weight: var(--negrita);
}

/* Imatge que ocupi el 100% del tile */
.category-tile img {
    width:100%;
    height:100%;
}

/* Número de items, dropdown d'ordenació i select de categories
en la mateixa linea */
#ordenacionItems h1.numItems, #ordenacionItems select#select {
    display: inline-block;
}

/* Visualització del delect de categories  i ordenació depenent
de la mida de la pantalla */
@media (width < 330px) {
    div#ordenacionItems select#select {
        width: 80%;
        display: block;
    }
}

@media (max-width: 440px) and (min-width: 330px) {
    #select {
        width: 40%;
    }
}

@media (max-width: 768px) and (min-width: 440px) {
    #select {
        width: 30%;
    }
}

@media (min-width: 768px) {
    #select {
        width: 20%;
    }
}

/* Deixar un espai entre el numero de receptes, ordenació i
filtre de categories amb el secció de receptes */
section.row{
    margin-top: 20px;
}

/****************** DETAIL.HTML ******************/

/* Icones dins de l'element de la llista. */
ul {
    list-style-position: inside;
}

/* text de category > area > tags més petit */
#catAreaTag {
    font-size: 0.7em;
}

/* Bandera del pais i nom de la recepta en la mateixa linea */
#flag, #name {
    margin-top: 20px;
    display:inline-block;
}

/* Bandera al costat del nom de la recepta */
#nombreBandera {
    display:flex;
}

/* Tamany responsiu bandera */
#flag {
    height: 48px;
    object-fit: cover;
    object-position: bottom;
    padding-right: 10px;
}

/* Imatge responsiva de la recepta */
#image {
    height: 400px;
    object-fit: cover;
    object-position: bottom;
    border: 1px solid var(--colorTextos);
}

/* Instruccions */
#instruction {
    padding-left: 10px;
}

/********************** ESTRELLETAS ********************/

/* El contenidor de les 5 estrelletes en fila i 
separades entre elles */
.star-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
}

/* Definició de cadascuna de les 5 estrelletes */
.star {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Imatge gris */
.star-gray {
    background-image: url(../images/star-gray.png);
}

/* Imatge rosa */
.star-pink {
    background-image: url(../images/star-pink.png);
}

/********************* LIKE **********************/

/* Add this recipe to ... de tipus inline 
per possar el cor al costat */
#textoFavorito {
    display: inline-block;
}

/* Contenidor del cor */
.fav-container {
    display: inline-block;
}

/* Cor en si */
.fav {
    display:inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Imatge gris del cor */
.fav-gray {
    background-image: url(../images/fav-gray.png);
}

/* Imatge rosa del cor */
.fav-pink {
    background-image: url(../images/fav-pink.png);
}

/********************* SPINNER *******************/

/* Definició del spinner */
#spinner {
    width: 10rem;
    height: 10rem;
    border: 5px solid var(--colorSpinner);
    border-top: 6px solid var(--colorTextos);
    border-radius: 100%;
    margin-top: 15%;
    display: none;
    animation: spin 1s infinite ease-in-out;
}

/* Mostrar spinner */
#spinner.display {
    display:inline-block;
}

/* Rotació de la carrega */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/********************* DROPDOWN CATEGORY *************/

/* Al costat de l'ordenació si té lloc */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Definició del dropdown de categories */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--colorFondo);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Quan passem per sobre de les opcions del dropdown */
.dropdownContent :hover {
    background-color: var(--colorHeader);
}

/* Llistat d'opcions una sota l'altra */
.dropdownContent label {
    display: block;
    padding: 5px 10px;
    cursor:pointer;
}

/* Que es desplegi el dropdown quan passem per sobre */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Color del requadret quan está seleccionat */
input.a {
    accent-color: var(--colorHeader);
}

/* botó apply filter dins Categories */
#botonFilterCategory {
    width: 100%;
}

/************** COMENTARIS ***************/

/* Espai del formulari de comentaris */
form div, form button#botonComentario {
    margin: 10px;
}

/* Input i textarea del 50% de l'amplada */
input#inputUsername, form div textarea{
    width: 50%;
}

/* Imatge dels comentaris al costat del nom
d'usuari i data */
#usernameListaComentario, #dateListaComentario {
    display:inline-block;
}

/* Data una mica més petita que el nom de l'usuari */
#dateListaComentario{
    font-size: 90%;
}

/* Separació del botó de afegir comentari i
els comentaris dels usuaris */
.comentarios-formulario{
    padding-bottom: 20px;
}

/* Afegir color als bordes de l'input i textarea */
#textareaComentario , #inputUsername {
    border-color: var(--colorTextos);
    border-radius: 0%;
}

/* Si s'envia el formulari amb camps buits */
.noCumplimentado {
    box-shadow: 0 0 5px 1px red;
}

/* Nom d'usuari en negreta */
#usernameListaComentario {
    font-weight: var(--negrita);
}

/* Mida de la imatge de l'usuari */
#userImage {
    width: 25px;
}

/* Estil per als botons amb classe personalizados ************/
/* Add comment, category, apply filter, search */
button.personalizados {
    color: var(--colorTextos) !important;
    border-color: var(--colorTextos) !important;
}

button.personalizados:hover {
    background-color: var(--colorTextos) !important;
    border-color: var(--blanco) !important;
    color: var(--blanco) !important;
}

hr {
    color: var(--colorTextos) !important;
}

/* Estil texts Ingredients & measures, Instructions, Video, 
Favorito, Rating, Comments */
h2 {
    font-weight: var(--negrita);
    font-size: 120em;
    padding: 20px 0;
    border-bottom: 1px solid var(--colorTextos);
}

/* Els elements que no arriben del template els oculto inicialment
per a que no apareguin i nomès surti l'spinner */
.star-container, .fav-container, .comentarios-formulario, #tituloComentario, #divFavorito, #divRating {
    visibility: hidden;
}
